<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
      function req() {
        $.ajax({
          type: 'GET',
          url: '/req',
          timeout: 100,
          success: function(data) {
            document.querySelector('#time').innerHTML = data.time + "s";
            document.querySelector('#name').innerHTML = data.name;
            document.querySelector('#count').innerHTML = "Количество: " + data.count;
            document.querySelector('#prediction').innerHTML = data.prediction + '%';
          },
          error: function(textStatus) {
          }
        }); 
      }

      function stop() {
        $.ajax({
          type: 'POST',
          url: '/stop',
        });
        
      }

      function start() {
        $.ajax({
          type: 'POST',
          url: '/start'
        });
      }

      timerID = setInterval(
        req,
        500
      );
    </script>

    <title>RTUAssistant-Starter</title>
  </head>
  <body class="container  text-center">
    <div>
      <h1 id="name">None</h1>
      <h2 id="time">0s</h2>
    </div>

    <div>
      <h2 id="count">Количество: 0</h2>
    </div>

    <div>
      <h2 id="prediction">0%</h2>
    </div>
        
    <div>
      <button type="button" class="btn btn-primary btn-lg" onclick="start()"> Start</button>
      <button type="button" class="btn btn-secondary btn-lg" onclick="stop()"> Stop</button>
    </div>
  </body>
</html>
